<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.api.dao.TblDataOperateDao">
  <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblDataOperate">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="operate_addr" jdbcType="VARCHAR" property="operateAddr" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="del_tag" jdbcType="VARCHAR" property="delTag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="subgroup" jdbcType="VARCHAR" property="subgroup" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, operate_addr, create_user, create_time, update_user, update_time, del_tag, remark, subgroup
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_data_operate
    where id = #{id,jdbcType=VARCHAR}
    <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
      and del_tag = #{delTag,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_data_operate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.test.api.api.bean.TblDataOperate" useGeneratedKeys="true">
    insert into tbl_data_operate (`name`, operate_addr, create_user, 
      create_time, del_tag, remark, subgroup)
    values (#{name,jdbcType=VARCHAR}, #{operateAddr,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      sysdate(), #{delTag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{subgroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.api.api.bean.TblDataOperate">
    insert into tbl_data_operate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(name)">
        `name`,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(operateAddr)">
        operate_addr,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(subgroup)">
        subgroup,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        create_user,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(name)">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(operateAddr)">
        #{operateAddr,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(subgroup)">
        #{subgroup,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        #{createUser,jdbcType=VARCHAR},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.api.api.bean.TblDataOperate">
    update tbl_data_operate
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(name)">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(operateAddr)">
        operate_addr = #{operateAddr,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(subgroup)">
        subgroup = #{subgroup,jdbcType=VARCHAR},
      </if>
        update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.api.api.bean.TblDataOperate">
    update tbl_data_operate
    set `name` = #{name,jdbcType=VARCHAR},
      operate_addr = #{operateAddr,jdbcType=VARCHAR},
      del_tag = #{delTag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      subgroup = #{subgroup,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = sysdate()
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryList" parameterType="com.test.api.api.bean.TblDataOperate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_data_operate
    <where>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(name)">
        and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        and del_tag = #{delTag,jdbcType=VARCHAR}
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(subgroup)">
        and subgroup = #{subgroup,jdbcType=VARCHAR}
      </if>
    </where>

  </select>
  <update id="updateDelTag" parameterType="com.test.api.api.bean.TblDataOperate">
    update tbl_data_operate
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>