<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.api.dao.TblMenuDataOperateRelationDao">
  <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblMenuDataOperateRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="data_oper_id" jdbcType="VARCHAR" property="dataOperId" />
    <result column="del_tag" jdbcType="VARCHAR" property="delTag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_id, data_oper_id, create_user, create_time, update_user, update_time, del_tag, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_menu_data_operate_relation
    where id = #{id,jdbcType=VARCHAR}
    <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
      and del_tag = #{delTag,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_menu_data_operate_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.test.api.api.bean.TblMenuDataOperateRelation" useGeneratedKeys="true">
    insert into tbl_menu_data_operate_relation (menu_id, data_oper_id, create_user, 
      create_time, del_tag, remark)
    values (#{menuId,jdbcType=VARCHAR}, #{dataOperId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      sysdate(), #{delTag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.api.api.bean.TblMenuDataOperateRelation">
    insert into tbl_menu_data_operate_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(menuId)">
        menu_id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(dataOperId)">
        data_oper_id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        create_user,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(menuId)">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(dataOperId)">
        #{dataOperId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        #{createUser,jdbcType=VARCHAR},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.api.api.bean.TblMenuDataOperateRelation">
    update tbl_menu_data_operate_relation
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(menuId)">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(dataOperId)">
        data_oper_id = #{dataOperId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
        update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.api.api.bean.TblMenuDataOperateRelation">
    update tbl_menu_data_operate_relation
    set menu_id = #{menuId,jdbcType=VARCHAR},
      data_oper_id = #{dataOperId,jdbcType=VARCHAR},
      del_tag = #{delTag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = sysdate()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="deleteByMenuId" parameterType="com.test.api.api.bean.TblMenuDataOperateRelation">
    update tbl_menu_data_operate_relation
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      update_time = sysdate()
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>

  <select id="queryMenuDataOperationGroup" parameterType="string"
          resultMap="com.test.api.api.dao.TblCodeValueDao.BaseResultMap2">
    select
        t2.id, t2.`name`, t2.operate_addr, t2.remark
    from tbl_code_value t1
    LEFT JOIN tbl_data_operate t2 on t1.`code` = t2.subgroup and t1.del_tag = '2' and t2.del_tag = '2'
    LEFT JOIN tbl_menu_data_operate_relation t3 on t2.id=t3.data_oper_id and t3.del_tag = '2'
    where t1.code_type='dataOperateSubgroup'
    and t3.menu_id = #{menuId,jdbcType=VARCHAR}

  </select>
</mapper>