<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.api.api.dao.TblMenuDao">
    <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblMenu">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="parent_node" property="parentNode" jdbcType="VARCHAR"/>
        <result column="default_select" property="defaultSelect" jdbcType="VARCHAR"/>
        <result column="uri" property="uri" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="baseField">
        id, name, icon, parent_node, default_select, uri, create_user, create_time, update_user, update_time
    </sql>
    <select id="queryList" parameterType="com.test.api.api.bean.TblMenu" resultMap="BaseResultMap">
        select
        <include refid="baseField"/>
        from tbl_menu t
        <where>
            <if test="id != null and id != ''">
                t.id = #{id, jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                t.name = #{name, jdbcType=VARCHAR}
            </if>
            <if test="parentNode != null and parentNode != ''">
                t.parent_node = #{parentNode, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryDefaultSelect" resultType="java.lang.String">
        select id from tbl_menu t where t.default_select = '1' and t.parent_node = '0'
    </select>

    <insert id="insertSelective" parameterType="com.test.api.api.bean.TblMenu">
        insert into tbl_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=''">
                id,
            </if>
            <if test="name != null and name !=''">
                `name`,
            </if>
            <if test="icon != null and icon !=''">
                icon,
            </if>
            <if test="parentNode != null and parentNode != ''">
                parent_node,
            </if>
            <if test="defaultSelect != null and defaultSelect != ''">
                default_select,
            </if>
            <if test="uri != null and uri != ''">
                uri,
            </if>
            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name !=''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null and icon !=''">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="parentNode != null and parentNode != ''">
                #{parentNode,jdbcType=VARCHAR},
            </if>
            <if test="defaultSelect != null and defaultSelect != ''">
                #{defaultSelect,jdbcType=VARCHAR},
            </if>
            <if test="uri != null and uri != ''">
                #{uri,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser,jdbcType=VARCHAR},
            </if>
            sysdate()

        </trim>
    </insert>
</mapper>