<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.api.dao.TblPropertyOptionsDao">
  <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblPropertyOptions">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="attr_id" jdbcType="VARCHAR" property="attrId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_tag" jdbcType="VARCHAR" property="delTag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="PageResultMap" type="com.test.api.api.vo.commodity.property_option.PropertyOptionVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="attr_id" jdbcType="VARCHAR" property="attrId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_tag" jdbcType="VARCHAR" property="delTag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="property_name" jdbcType="VARCHAR" property="propertyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `value`, attr_id, create_user, create_time, update_user, update_time, del_tag, 
    remark
  </sql>
  <sql id="Page_Column">
    ${table1}.id, ${table1}.`value`, concat_ws('-', ${table1}.attr_id, ${table2}.name) as property_name,
    ${table1}.create_user, ${table1}.create_time, ${table1}.update_user, ${table1}.update_time, ${table1}.del_tag,
    ${table1}.remark
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_property_options
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_property_options
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.test.api.api.bean.TblPropertyOptions" useGeneratedKeys="true">
    insert into tbl_property_options (`value`, attr_id, create_user, 
      create_time, del_tag, remark)
    values (#{value,jdbcType=VARCHAR}, #{attrId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      sysdate(), #{delTag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.api.api.bean.TblPropertyOptions">
    insert into tbl_property_options
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        `value`,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(attrId)">
        attr_id,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        create_user,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag,
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(attrId)">
        #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(createUser)">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        #{remark,jdbcType=VARCHAR},
      </if>
       sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.api.api.bean.TblPropertyOptions">
    update tbl_property_options
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(attrId)">
        attr_id = #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.api.api.bean.TblPropertyOptions">
    update tbl_property_options
    set `value` = #{value,jdbcType=VARCHAR},
      attr_id = #{attrId,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = sysdate(),
      del_tag = #{delTag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryList" parameterType="com.test.api.api.bean.TblSku" resultMap="PageResultMap">
    select
    <include refid="Page_Column">
      <property name="table1" value="t1"/>
      <property name="table2" value="t2"/>
    </include>
    from tbl_property_options t1
    left join tbl_property t2 on t1.attr_id=t2.id
    <where>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(id)">
        and t1.id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(value)">
        and t1.`value` like concat('%', #{value,jdbcType=VARCHAR}, '%')
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        and t1.del_tag = #{delTag,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <update id="updateDelTag" parameterType="com.test.api.api.bean.TblSku">
    update tbl_property_options
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(updateUser)">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryDetail" parameterType="string" resultMap="PageResultMap">
    select
    <include refid="Page_Column">
      <property name="table1" value="t1"/>
      <property name="table2" value="t2"/>
    </include>
    from tbl_property_options t1
    left join tbl_property t2 on t1.attr_id=t2.id
    where t1.id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>