<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.api.dao.TblRoleDao">
  <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="del_tag" jdbcType="VARCHAR" property="delTag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, del_tag, remark, create_user, create_time, update_user, update_time
  </sql>
  <sql id="Base_Column_List2">
    ${alias}.id, ${alias}.`name`, ${alias}.del_tag, ${alias}.remark, ${alias}.create_user, ${alias}.create_time,
    ${alias}.update_user, ${alias}.update_time
  </sql>
  <select id="selectByPKDelTag" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where id = #{id,jdbcType=VARCHAR}
    <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(delTag)">
      and del_tag = #{delTag,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_role
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.test.api.api.bean.TblRole" useGeneratedKeys="true">
    insert into tbl_role (`name`, del_tag, remark, create_user, create_time,)
    values (#{name,jdbcType=VARCHAR}, #{delTag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{createUser,jdbcType=VARCHAR}, sysdate())
  </insert>
  <insert id="insertSelective" parameterType="com.test.api.api.bean.TblRole">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="delTag != null and delTag != ''">
        del_tag,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="createUser != null and createUser != ''">
        create_user,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="delTag != null and delTag != ''">
        #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null and createUser != ''">
        #{createUser,jdbcType=VARCHAR},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.api.api.bean.TblRole">
    update tbl_role
    <set>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(name)">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="delTag != null and delTag != ''">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="@com.test.api.api.utils.StringUtil@objIsNotEmpty(remark)">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null and updateUser != ''">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
        update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.api.api.bean.TblRole">
    update tbl_role
    set `name` = #{name,jdbcType=VARCHAR},
      del_tag = #{delTag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = sysdate()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryList" parameterType="com.test.api.api.bean.TblRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_role
    <where>
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="delTag != null and delTag != ''">
        and del_tag = #{delTag,jdbcType=VARCHAR}
      </if>
    </where>

  </select>
  <update id="updateRoleDelTag" parameterType="com.test.api.api.bean.TblRole">
    update tbl_role
    <set>
      <if test="delTag != null and delTag != ''">
        del_tag = #{delTag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null  and updateUser != ''">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      update_time = sysdate()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>