<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.api.api.dao.TblUserDao">
    <resultMap id="BaseResultMap" type="com.test.api.api.bean.TblUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pass" property="pass" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, pass,create_user,create_time,update_user,update_time
    </sql>
    <select id="queryUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from tbl_user where id = #{id, jdbcType=VARCHAR}
    </select>
    <select id="queryList" parameterType="com.test.api.api.bean.TblUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_user
        <where>
            <if test="id!=null and id!=''">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name!=null and name!=''">
                and name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="login" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_user
        where
        name = #{name,jdbcType=VARCHAR}
        and pass = #{pass,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.test.api.api.bean.TblUser">
        insert into tbl_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                id,
            </if>
            <if test="name !=null and name !=''">
                name,
            </if>
            <if test="pass !=null and pass !=''">
                pass,
            </if>
            <if test="createUser !=null and createUser !=''">
                create_user,
            </if>
            <if test="createTime !=null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null and id !=''">
                #{id, jdbcType=VARCHAR},
            </if>
            <if test="name !=null and name !=''">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="pass !=null and pass !=''">
                #{pass, jdbcType=VARCHAR},
            </if>
            <if test="createUser !=null and createUser !=''">
                #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="createTime !=null">
                #{createTime, jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <delete id="deleteUser" parameterType="java.lang.String">
        delete from tbl_user t where t.id = #{id, jdbcType=VARCHAR}
    </delete>
    <update id="update" parameterType="com.test.api.api.bean.TblUser">
        update tbl_user t
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name !=''">
                t.name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="pass!=null and pass !=''">
                t.pass = #{pass, jdbcType=VARCHAR},
            </if>
            <if test="updateUser!=null and updateUser!=''">
                t.update_user = #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
                t.update_time = #{updateTime, jdbcType=DATE},
            </if>
        </trim>
        where t.id = #{id, jdbcType=VARCHAR}
    </update>
</mapper>